
@font-face {
    font-family: 'Noto Sans KR';
    src: url('fonts/NotoSansKR-Thin.woff2') format('woff2'),
         url('fonts/NotoSansKR-Thin.woff') format('woff'),
         url('fonts/NotoSansKR-Thin.woff') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:  'Noto Sans KR';
    src: url('fonts/NotoSansKR-Light.woff2') format('woff2'),
         url('fonts/NotoSansKR-Light.woff') format('woff'),
         url('fonts/NotoSansKR-Light.woff2') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:  'Noto Sans KR';
    src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('fonts/NotoSansKR-Regular.woff') format('woff'),
         url('fonts/NotoSansKR-Regular.woff2') format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:  'Noto Sans KR';
    src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('fonts/NotoSansKR-Bold.woff') format('woff'),
         url('fonts/NotoSansKR-Bold.woff2') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:  'Noto Sans KR';
    src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('fonts/NotoSansKR-Bold.woff') format('woff'),
         url('fonts/NotoSansKR-Bold.woff2') format('otf');
    font-weight: 700;
    font-style: normal;
}


